* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(62, 94, 94);
    padding: 1rem;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.nav-link {
    text-decoration: none;
    color: rgb(136, 190, 28);
}

h1 {
    color: rgb(128, 177, 31);
}

.parrafo {
    color: rgb(245, 247, 247);
    min-height: 5rem;
    display: grid;
    place-items: center;
    font-size: 24px;
    transition: font-size 0.3s;
}

.parrafo:hover {
    font-size: 30px;
}

.background-image {
    background-image: url('../assets/img/fondo3.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 92.5vh;
}